<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="husband" class="com.yancy.springframework.test.bean.Husband">
        <property name="wifeName" value="你猜"/>
        <property name="marriageDate" value="2021-08-08"/>
    </bean>

    <bean id="conversionService" class="com.yancy.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" ref="converters"/>
    </bean>

    <bean id="converters" class="com.yancy.springframework.test.converter.ConvertersFactoryBean"/>

</beans>